body {
  color: #000;
  background: #fff;
  font: normal 100%/1.5 sans-serif;
}

p {
  margin-top: 5em;
  text-align: center;
  width: 100%;
}

#nav a {
  color: #000;
  background: #ddd;
  border-bottom: 1px solid white;
  padding: 0.6em 1em;
}
#nav a:hover, .active #nav a {
  background: #aaa;
}

#tinynav-toggle {
  color: #000;
  background: #ddd;
  border-bottom: 1px solid white;
  padding: 0.6em 1em;
}

@media only screen and (min-width: 40em) {
  body {
    margin: 0 auto;
    padding: 2em;
    max-width: 60em;
  }
}
