/*! TinyNav2.js v0.3 by @viljamis */

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  color: #000;
  background: #fff;
  font: normal 100%/1.5 sans-serif;
}

p {
  margin-top: 5em;
  text-align: center;
  float: left;
  width: 100%;
}

#nav-toggle {
  display: none;
}

.js #nav-toggle {
  display: block;
  color: #000;
  text-decoration: none;
  background: #ddd;
  display: block;
  border-bottom: 1px solid #fff;
  padding: .6em 1em;
  float: right;
}

#nav {
  list-style: none;
  width: 100%;
  float: left;
}

#nav a {
  color: #000;
  text-decoration: none;
  background: #ddd;
  display: block;
  width: 100%;
  border-bottom: 1px solid #fff;
  padding: 0 1em;
  height: 44px;
  line-height: 44px;
  float: left;
}

#nav a:hover,
#nav .active a {
  background: #aaa;
}

.js #nav {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

.js #nav.opened {
  height: 176px; /* 44px x 4 = 176px */
}

@media only screen and (min-width: 40em) {

  .js #nav-toggle {
    display: none;
  }

  .js #nav {
    height: auto !important;
  }
  
  #nav a {
    width: 25%;
    border-right: 1px solid #fff;
  }

}
