/*! TinyNav2.js v0.65 by @viljamis */

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  color: #000;
  background: #fff;
  font: normal 100%/1.5 sans-serif;
}

p {
  margin-top: 5em;
  text-align: center;
  float: left;
  width: 100%;
}

#tinynav-toggle {
  color: #000;
  text-decoration: none;
  background: #ddd;
  border-bottom: 1px solid #fff;
  padding: .6em 1em;
  float: right;
}

#nav,
#nav ul {
  list-style: none;
  width: 100%;
  float: left;
}

#nav li {
  float: left;
  width: 100%;
}

#nav a {
  color: #000;
  text-decoration: none;
  background: #ddd;
  width: 100%;
  border-bottom: 1px solid #fff;
  padding: .6em 1em;
  float: left;
}

#nav a:hover,
#nav .active a {
  background: #aaa;
}

.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
}

#nav.opened {
  position: static;
  max-height: 9999px;
}

@media only screen and (min-width: 40em) {
  
  body {
    margin: 0 auto;
    padding: 2em;
    max-width: 60em;
  }

  #tinynav-toggle {
    display: none;
  }

  .js #nav {
    max-height: none !important;
  }

  #nav li {
    text-align: center;
    width: 25%;
    border-right: 1px solid #fff;
  }

}
