/*! TinyNav2 v1.0 by @viljamis */

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #000;
  background: #fff;
  font: normal 100%/1.5 sans-serif;
  margin: 0;
}

#nav,
#nav * {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#nav,
#nav ul {
  list-style: none;
  width: 100%;
  float: left;
}

#nav li {
  float: left;
  width: 100%;
}

#nav a {
  color: #000;
  text-decoration: none;
  background: #ddd;
  width: 100%;
  border-bottom: 1px solid #fff;
  padding: .6em 1em;
  float: left;
}

#nav a:hover,
#nav .active a {
  background: #aaa;
}

.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
}

#nav.opened {
  position: relative;
  max-height: 9999px;
}

#nav-toggle {
  color: #000;
  text-decoration: none;
  background: #ddd;
  border-bottom: 1px solid #fff;
  padding: .6em 1em;
  float: right;
}

@media only screen and (min-width: 40em) {

  #nav-toggle {
    display: none;
  }

  .js #nav {
    position: static;
    max-height: none;
  }

  #nav li {
    text-align: center;
    width: 25%;
    border-right: 1px solid #fff;
  }

}
