/*

____\/\\_________/\\____/\\\\\\______
____\/\\_______ /\\____/\\/////////\_____
____\//\\______/\\____\//\\______\///_____
_____\//\\____/\\______\////\\____________
______\//\\__/\\__________\////\\_________
_______\//\\/\\______________\////\\______
________\//\\\________/\\______\//\\_____
_________\//\\________\///\\\\\\/______
__________\///__________\////////////________

*/
/* ------------------------------------------
  RESET
--------------------------------------------- */
/* line 10, reset.css.scss */
body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0; }

/* line 16, reset.css.scss */
h1, h2, h3, h4, h5, h6, small {
  font-size: 1em; }

/* ------------------------------------------
  CONSISTENCY FIXES
--------------------------------------------- */
/* line 24, reset.css.scss */
article, aside, details, figcaption, figure, footer,
header, hgroup, main, nav, section, summary {
  display: block; }

/* line 28, reset.css.scss */
audio, canvas, video {
  display: inline-block; }

/* line 32, reset.css.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 37, reset.css.scss */
[hidden] {
  display: none; }

/* line 41, reset.css.scss */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 48, reset.css.scss */
a:active,
a:hover {
  outline: 0; }

/* line 52, reset.css.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 56, reset.css.scss */
b, strong {
  font-weight: bold; }

/* line 60, reset.css.scss */
dfn {
  font-style: italic; }

/* line 64, reset.css.scss */
hr {
  color: transparent;
  background: none;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 72, reset.css.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 77, reset.css.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 82, reset.css.scss */
pre {
  white-space: pre-wrap; }

/* line 86, reset.css.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/* line 90, reset.css.scss */
small {
  font-size: 80%; }

/* line 94, reset.css.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 101, reset.css.scss */
sup {
  top: -0.5em; }

/* line 105, reset.css.scss */
sub {
  bottom: -0.25em; }

/* line 109, reset.css.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 113, reset.css.scss */
ul, ol {
  margin-left: 1.5em; }

/* line 117, reset.css.scss */
ul {
  list-style-type: disc; }

/* line 121, reset.css.scss */
ol {
  list-style-type: decimal; }

/* line 126, reset.css.scss */
nav ol,
nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 132, reset.css.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

/* line 138, reset.css.scss */
button, input {
  line-height: normal; }

/* line 142, reset.css.scss */
button, select {
  text-transform: none; }

/* line 149, reset.css.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 155, reset.css.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/* line 160, reset.css.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 165, reset.css.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 173, reset.css.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 178, reset.css.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 183, reset.css.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 188, reset.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 193, reset.css.scss */
a img, img {
  -ms-interpolation-mode: bicubic;
  border: 0; }

/* ------------------------------------------
  COLOURS
--------------------------------------------- */
/* ------------------------------------------
  FONTS
--------------------------------------------- */
/* ------------------------------------------
  FONTS
--------------------------------------------- */
/* line 93, demo.css.scss */
::-moz-selection {
  background: #444444;
  color: white;
  text-shadow: none; }

/* line 99, demo.css.scss */
::selection {
  background: #444444;
  color: white;
  text-shadow: none; }

/* line 105, demo.css.scss */
img::selection {
  background: transparent; }

/* line 109, demo.css.scss */
img::-moz-selection {
  background: transparent; }

/* line 113, demo.css.scss */
h1::selection {
  -webkit-text-stroke: 2px white;
  background: #444444;
  color: #444444; }

/* line 120, demo.css.scss */
::selection:window-inactive,
.cssmask h1::selection:window-inactive {
  background: #bab9b6; }

/* ------------------------------------------
  RWD
--------------------------------------------- */
@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

/* line 133, demo.css.scss */
img, video {
  width: auto;
  max-width: 100%;
  height: auto; }

/* line 139, demo.css.scss */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

/* ------------------------------------------
  BASE
--------------------------------------------- */
/* line 146, demo.css.scss */
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: white;
  font: normal 112.5%/1.4 "chaparral-pro", Georgia, "times new roman", times, serif; }
  @media screen and (min-width: 28.75em) {
    /* line 146, demo.css.scss */
    body {
      font-size: 125%; } }

/* line 158, demo.css.scss */
.content {
  float: left;
  text-align: center;
  margin: 0;
  padding: 0 8%;
  width: 84%; }
  @media screen and (min-width: 28.75em) {
    /* line 158, demo.css.scss */
    .content {
      padding: 0 12%;
      width: 76%; } }
  @media screen and (min-width: 37.5em) {
    /* line 158, demo.css.scss */
    .content {
      padding: 0 15%;
      width: 70%; } }
  @media screen and (min-width: 46.25em) {
    /* line 158, demo.css.scss */
    .content {
      max-width: 37.5em;
      padding: 0;
      margin: 0 auto;
      float: none;
      width: 100%; } }
  @media screen and (min-width: 62.5em) {
    /* line 158, demo.css.scss */
    .content {
      max-width: none; } }

/* line 184, demo.css.scss */
.wrapper {
  max-width: 47.5em;
  margin: 0 auto; }

/* line 189, demo.css.scss */
.border {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: .5em;
  background: #444444; }

/* ------------------------------------------
  LINKS
--------------------------------------------- */
/* line 203, demo.css.scss */
a {
  color: #444444;
  text-decoration: underline; }
  /* line 206, demo.css.scss */
  a:hover {
    text-decoration: none; }

/* ------------------------------------------
  BUTTONS
--------------------------------------------- */
/* line 214, demo.css.scss */
.btn {
  color: white;
  background: #444444;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em 1em 0.46em;
  line-height: normal;
  display: inline-block;
  font-weight: 400;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-size: 112.5%;
  letter-spacing: 2px; }
  @media screen and (min-width: 46.25em) {
    /* line 214, demo.css.scss */
    .btn {
      font-size: 1.1em; } }

/* ------------------------------------------
  TYPE
--------------------------------------------- */
/* line 234, demo.css.scss */
h1, h2, h3 {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  text-transform: uppercase;
  -moz-font-feature-settings: "liga=1, kern=1";
  -ms-font-feature-settings: "liga" 1, "kern" 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

/* line 243, demo.css.scss */
h1 {
  font-weight: 700;
  font-size: 275%;
  line-height: 0.82;
  letter-spacing: -0.03em;
  margin-bottom: .4em;
  color: #444444; }
  @media screen and (min-width: 37.5em) {
    /* line 243, demo.css.scss */
    h1 {
      font-size: 400%; } }
  @media screen and (min-width: 46.25em) {
    /* line 243, demo.css.scss */
    h1 {
      margin-bottom: .2em;
      font-size: 620%; } }
  @media screen and (min-width: 62.5em) {
    /* line 243, demo.css.scss */
    h1 {
      font-size: 880%; } }

/* line 262, demo.css.scss */
h2 {
  letter-spacing: -0.02em;
  font-weight: 700;
  font-size: 175%;
  line-height: 0.82;
  margin-bottom: .6em;
  color: #444444; }
  @media screen and (min-width: 46.25em) {
    /* line 262, demo.css.scss */
    h2 {
      font-size: 2.375em; } }

/* line 274, demo.css.scss */
h3 {
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 400;
  font-size: 125%;
  line-height: 1;
  margin-bottom: 1em;
  letter-spacing: 1px;
  color: #37302a; }
  @media screen and (min-width: 46.25em) {
    /* line 274, demo.css.scss */
    h3 {
      font-size: 1.2em; } }

/* line 287, demo.css.scss */
p {
  margin-bottom: 1.5em; }

/* line 291, demo.css.scss */
.section p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

/* line 295, demo.css.scss */
em {
  font-style: italic; }

/* ------------------------------------------
  NAVIGATION
--------------------------------------------- */
/* line 302, demo.css.scss */
#nav {
  z-index: 1;
  font-family: "proxima-nova-extra-condensed", sans-serif; }

/* line 308, demo.css.scss */
#nav,
#nav * {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 317, demo.css.scss */
#nav,
#nav ul {
  list-style: none;
  width: 100%;
  float: left; }
  @media screen and (min-width: 46.25em) {
    /* line 317, demo.css.scss */
    #nav,
    #nav ul {
      text-align: center; } }

/* line 326, demo.css.scss */
#nav li {
  float: left;
  width: 100%; }
  @media screen and (min-width: 46.25em) {
    /* line 326, demo.css.scss */
    #nav li {
      float: none;
      display: inline-block;
      width: auto;
      margin-right: .7em; } }

/* line 337, demo.css.scss */
#nav a {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 112.5%;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  width: 100%;
  background: #444444;
  border-bottom: 1px solid white;
  padding: 0.7em 1em;
  float: left; }
  @media screen and (min-width: 46.25em) {
    /* line 337, demo.css.scss */
    #nav a {
      -webkit-font-smoothing: antialiased;
      margin: 0;
      padding: 2em 0.7em 0.6em;
      font-size: 1.1em;
      background: transparent;
      color: #37302a;
      border: 0; }
      /* line 357, demo.css.scss */
      #nav a:hover {
        text-decoration: underline; } }

@media screen and (min-width: 46.25em) {
  /* line 363, demo.css.scss */
  #nav .active a {
    -webkit-font-smoothing: subpixel-antialiased;
    color: white;
    background: #444444; }
    /* line 368, demo.css.scss */
    #nav .active a:hover {
      text-decoration: none; } }

/* line 372, demo.css.scss */
.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden; }
  @media screen and (min-width: 46.25em) {
    /* line 372, demo.css.scss */
    .js #nav {
      position: static;
      max-height: none; } }

/* line 384, demo.css.scss */
#nav.opened {
  position: relative;
  max-height: 9999px; }
#nav.disable-pointer-events {
  pointer-events: none !important;
}
/* line 389, demo.css.scss */
#nav-toggle {
  width: 70px;
  height: 55px;
  float: right;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  background: #444444 url("../images/hamburger.gif") no-repeat 50% 33%; }
  @media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    /* line 389, demo.css.scss */
    #nav-toggle {
      background-image: url("../images/hamburger-retina.gif");
      -webkit-background-size: 100px 100px !important;
      -moz-background-size: 100px 100px !important;
      -o-background-size: 100px 100px !important;
      background-size: 100px 100px !important; } }
  @media screen and (min-width: 46.25em) {
    /* line 389, demo.css.scss */
    #nav-toggle {
      display: none; } }

/* ------------------------------------------
  FRONTPAGE
--------------------------------------------- */
/* line 408, demo.css.scss */
.intro, .footer {
  float: left;
  width: 100%; }

@media screen and (min-width: 62.5em) {
  /* line 413, demo.css.scss */
  .image {
    margin-left: -1em; } }

/* line 419, demo.css.scss */
.intro {
  margin: 2em auto 3em; }
  @media screen and (min-width: 46.25em) {
    /* line 419, demo.css.scss */
    .intro {
      margin: 5em auto 3.5em; }
      /* line 423, demo.css.scss */
      .intro .intro-container {
        max-width: 31.5em;
        margin: 0 auto; }
      /* line 427, demo.css.scss */
      .intro p {
        margin-left: auto;
        margin-right: auto;
        max-width: 21.25em;
        text-align: left;
        float: left; }
      /* line 434, demo.css.scss */
      .intro .btn {
        margin: 0.7em 1.3em 0 0;
        float: right; } }
  @media screen and (min-width: 62.5em) {
    /* line 419, demo.css.scss */
    .intro {
      margin-top: 6em; } }

/* ------------------------------------------
  FOOTER
--------------------------------------------- */
/* line 448, demo.css.scss */
.footer {
  color: #bab9b6;
  text-align: center;
  font-size: 16px;
  width: 90%;
  margin: 2.8em 5% 2em; }
  /* line 454, demo.css.scss */
  .footer a {
    color: #bab9b6; }
  @media screen and (min-width: 46.25em) {
    /* line 448, demo.css.scss */
    .footer {
      margin-top: 6em;
      margin-bottom: 4em; } }

/* ------------------------------------------
  SECTIONS
--------------------------------------------- */
/* line 466, demo.css.scss */
.section {
  max-width: 31.5em;
  margin: 0 auto;
  text-align: left;
  margin-top: 3em; }
  @media screen and (min-width: 46.25em) {
    /* line 466, demo.css.scss */
    .section {
      margin-top: 5em; } }
  /* line 475, demo.css.scss */
  .section ul {
    list-style-type: circle;
    font-weight: 600; }
    @media screen and (min-width: 46.25em) {
      /* line 475, demo.css.scss */
      .section ul {
        margin-left: 0; } }

/* line 485, demo.css.scss */
pre, code {
  font-family: monospace, monospace; }

/* line 489, demo.css.scss */
pre {
  padding: 2em 2em 1.3em;
  margin-bottom: 3em;
  font-size: 75%;
  color: #37302a;
  background: #fafafa;
  white-space: pre;
  white-space: no-wrap;
  overflow-x: scroll;
  -webkit-box-shadow: 0 1px 4px whitesmoke, inset 0 0 0 1px #e7e6e5;
  -moz-box-shadow: 0 1px 4px whitesmoke, inset 0 0 0 1px #e7e6e5;
  box-shadow: 0 1px 4px whitesmoke, inset 0 0 0 1px #e7e6e5; }

/* line 501, demo.css.scss */
pre::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: transparent;
  width: 8px;
  height: 8px; }

/* line 508, demo.css.scss */
pre::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #d3d2d0; }

/* ------------------------------------------
  HIGHLIGHTING
--------------------------------------------- */
/* line 516, demo.css.scss */
.com {
  color: #bab9b6; }

/* line 517, demo.css.scss */
.lit {
  color: #444444; }

/* line 518, demo.css.scss */
.pun {
  color: #444444; }

/* line 519, demo.css.scss */
.opn, .clo, .fun {
  color: #37302a; }

/* line 520, demo.css.scss */
.str, .atv {
  color: #444444; }

/* line 521, demo.css.scss */
.typ, .atn, .dec, .var {
  color: #847160; }

/* ------------------------------------------
  DEMO
-----------*/
/* line 528, demo.css.scss */
#nav,
.content {
  float: left; }
