/* ------------------------------------------
  IMPORTS
--------------------------------------------- */
/* ------------------------------------------
  RESET
--------------------------------------------- */
/* line 10, reset.css.scss */
body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0; }

/* line 16, reset.css.scss */
h1, h2, h3, h4, h5, h6, small {
  font-size: 1em; }

/* ------------------------------------------
  CONSISTENCY FIXES
--------------------------------------------- */
/* line 24, reset.css.scss */
article, aside, details, figcaption, figure, footer,
header, hgroup, main, nav, section, summary {
  display: block; }

/* line 28, reset.css.scss */
audio, canvas, video {
  display: inline-block; }

/* line 32, reset.css.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 37, reset.css.scss */
[hidden] {
  display: none; }

/* line 41, reset.css.scss */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 48, reset.css.scss */
a:active,
a:hover {
  outline: 0; }

/* line 52, reset.css.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 56, reset.css.scss */
b, strong {
  font-weight: bold; }

/* line 60, reset.css.scss */
dfn {
  font-style: italic; }

/* line 64, reset.css.scss */
hr {
  color: transparent;
  background: none;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 72, reset.css.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 77, reset.css.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 82, reset.css.scss */
pre {
  white-space: pre-wrap; }

/* line 86, reset.css.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/* line 90, reset.css.scss */
small {
  font-size: 80%; }

/* line 94, reset.css.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 101, reset.css.scss */
sup {
  top: -0.5em; }

/* line 105, reset.css.scss */
sub {
  bottom: -0.25em; }

/* line 109, reset.css.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 113, reset.css.scss */
ul, ol {
  margin-left: 1.5em; }

/* line 117, reset.css.scss */
ul {
  list-style-type: disc; }

/* line 121, reset.css.scss */
ol {
  list-style-type: decimal; }

/* line 126, reset.css.scss */
nav ol,
nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 132, reset.css.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

/* line 138, reset.css.scss */
button, input {
  line-height: normal; }

/* line 142, reset.css.scss */
button, select {
  text-transform: none; }

/* line 149, reset.css.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 155, reset.css.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/* line 160, reset.css.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 165, reset.css.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 173, reset.css.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 178, reset.css.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 183, reset.css.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 188, reset.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 193, reset.css.scss */
a img, img {
  -ms-interpolation-mode: bicubic;
  border: 0; }

/* ------------------------------------------
  CONVERT PX TO EM
--------------------------------------------- */
/* ------------------------------------------
  MEDIA QUERIES
--------------------------------------------- */
/* ------------------------------------------
  CLEARFIX
--------------------------------------------- */
/* ------------------------------------------
  COLOURS
--------------------------------------------- */
/* ------------------------------------------
  FONTS
--------------------------------------------- */
/* ------------------------------------------
  SELECTIONS
--------------------------------------------- */
/* line 75, styles.css.scss */
::-moz-selection {
  background: #37302a;
  color: white; }

/* line 80, styles.css.scss */
::selection {
  background: #37302a;
  color: white; }

/* line 85, styles.css.scss */
img::selection {
  background: transparent; }

/* line 89, styles.css.scss */
img::-moz-selection {
  background: transparent; }

/* line 93, styles.css.scss */
h1::selection {
  -webkit-text-stroke: 2px #f43c12;
  background: transparent;
  color: transparent; }

/* line 100, styles.css.scss */
::selection:window-inactive,
h1::selection:window-inactive {
  background: #bab9b6; }

/* ------------------------------------------
  RWD
--------------------------------------------- */
@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

/* line 113, styles.css.scss */
img, video {
  width: 100%;
  max-width: 100%;
  height: auto; }

/* line 119, styles.css.scss */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

/* ------------------------------------------
  BASE
--------------------------------------------- */
/* line 126, styles.css.scss */
html {
  _overflow-x: hidden; }

/* line 129, styles.css.scss */
body {
  min-width: 200px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: white;
  font: normal 112.5%/1.4 "chaparral-pro", Georgia, "times new roman", times, serif; }
  @media screen and (min-width: 28.75em) {
    /* line 129, styles.css.scss */
    body {
      font-size: 125%; } }
  @media screen and (min-width: 103.75em) {
    /* line 129, styles.css.scss */
    body {
      font-size: 150%; } }
  @media screen and (max-width: 18.75em) {
    /* line 129, styles.css.scss */
    body {
      font-size: 87.5%; } }

/* line 148, styles.css.scss */
.content {
  float: left;
  text-align: center;
  margin: 0;
  padding: 0 8%;
  width: 84%; }
  @media screen and (min-width: 28.75em) {
    /* line 148, styles.css.scss */
    .content {
      padding: 0 12%;
      width: 76%; } }
  @media screen and (min-width: 37.5em) {
    /* line 148, styles.css.scss */
    .content {
      padding: 0 15%;
      width: 70%; } }
  @media screen and (min-width: 46.25em) {
    /* line 148, styles.css.scss */
    .content {
      padding: 0;
      margin: 0 auto;
      overflow: hidden;
      width: 100%; } }
  @media screen and (min-width: 62.5em) {
    /* line 148, styles.css.scss */
    .content {
      max-width: none; } }

/* line 173, styles.css.scss */
.wrapper {
  max-width: 47.5em;
  margin: 0 auto; }
  @media screen and (min-width: 62.5em) {
    /* line 173, styles.css.scss */
    .wrapper {
      _width: 47.5em; } }

/* line 181, styles.css.scss */
.border {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: .5em;
  background: #f43c12; }

/* ------------------------------------------
  LINKS
--------------------------------------------- */
/* line 194, styles.css.scss */
a {
  color: #f43c12;
  text-decoration: underline; }
  /* line 197, styles.css.scss */
  a:hover {
    text-decoration: none; }

/* ------------------------------------------
  BUTTONS
--------------------------------------------- */
/* line 205, styles.css.scss */
.btn {
  color: white;
  background: #f43c12;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em 1em 0.46em;
  line-height: normal;
  display: inline-block;
  font-weight: 400;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-size: 112.5%;
  letter-spacing: 2px;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease; }
  /* line 218, styles.css.scss */
  .btn:hover {
    background: #ca2d09; }
  /* line 221, styles.css.scss */
  .btn:active {
    opacity: .7; }
  @media screen and (min-width: 46.25em) {
    /* line 205, styles.css.scss */
    .btn {
      font-size: 1.1em; } }

/* ------------------------------------------
  TYPOGRAPHY
--------------------------------------------- */
/* line 232, styles.css.scss */
h1, h2, h3 {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  text-transform: uppercase;
  -moz-font-feature-settings: "liga=1, kern=1";
  -ms-font-feature-settings: "liga" 1, "kern" 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  color: #f43c12; }

/* line 243, styles.css.scss */
h1 {
  font-size: 275%;
  line-height: 0.82;
  letter-spacing: -0.03em;
  margin-bottom: .4em; }
  @media screen and (min-width: 37.5em) {
    /* line 243, styles.css.scss */
    h1 {
      font-size: 400%; } }
  @media screen and (min-width: 46.25em) {
    /* line 243, styles.css.scss */
    h1 {
      margin-bottom: .2em;
      *letter-spacing: -0.2em;
      font-size: 620%; } }
  @media screen and (min-width: 62.5em) {
    /* line 243, styles.css.scss */
    h1 {
      font-size: 880%; } }

/* line 261, styles.css.scss */
h2 {
  letter-spacing: -0.02em;
  font-size: 175%;
  line-height: 0.82;
  margin-bottom: .7em; }
  @media screen and (min-width: 46.25em) {
    /* line 261, styles.css.scss */
    h2 {
      font-size: 2.375em; } }

/* line 271, styles.css.scss */
h3 {
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 400;
  font-size: 125%;
  line-height: 1;
  float: left;
  width: 100%;
  margin: 0.2em 0 1em;
  letter-spacing: 1px;
  color: #37302a; }
  @media screen and (min-width: 46.25em) {
    /* line 271, styles.css.scss */
    h3 {
      font-size: 1.2em; } }

/* line 286, styles.css.scss */
p {
  margin-bottom: 1.5em; }
  /* line 288, styles.css.scss */
  .section p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; }

/* ------------------------------------------
  NAVIGATION
--------------------------------------------- */
/* line 296, styles.css.scss */
#nav {
  z-index: 1;
  font-family: "proxima-nova-extra-condensed", sans-serif; }

/* line 302, styles.css.scss */
#nav,
#nav * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 307, styles.css.scss */
#nav,
#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  float: left; }
  @media screen and (min-width: 46.25em) {
    /* line 307, styles.css.scss */
    #nav,
    #nav ul {
      text-align: center; } }

/* line 318, styles.css.scss */
#nav li {
  float: left;
  width: 100%;
  display: block; }
  @media screen and (min-width: 46.25em) {
    /* line 318, styles.css.scss */
    #nav li {
      float: none;
      display: inline-block;
      *display: block;
      *float: left;
      width: auto;
      margin-left: .4em;
      margin-right: .2em; } }

/* line 333, styles.css.scss */
#nav a {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 112.5%;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  width: 100%;
  background: #f43c12;
  border-bottom: 1px solid white;
  padding: 0.5em 1em;
  float: left; }
  /* line 345, styles.css.scss */
  #nav a:focus {
    background: #ca2d09;
    outline: none; }
  @media screen and (min-width: 46.25em) {
    /* line 333, styles.css.scss */
    #nav a {
      _float: none;
      -webkit-font-smoothing: antialiased;
      margin: 0;
      padding: 1.96em 0.7em 0.5em;
      font-size: 1.1em;
      background: transparent;
      color: #37302a;
      border: 0;
      -webkit-transition: background 0.5s ease;
      -moz-transition: background 0.5s ease;
      -o-transition: background 0.5s ease;
      transition: background 0.5s ease; }
      /* line 360, styles.css.scss */
      #nav a:hover, #nav a:focus {
        background: #e7e5e3; } }

@media screen and (min-width: 46.25em) {
  /* line 366, styles.css.scss */
  #nav .active a {
    -webkit-font-smoothing: subpixel-antialiased;
    color: white;
    background: #f43c12; }
    /* line 371, styles.css.scss */
    #nav .active a:hover {
      text-decoration: none; }
    /* line 374, styles.css.scss */
    #nav .active a:focus {
      background: #ca2d09; } }

/* line 380, styles.css.scss */
.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden; }
  @media screen and (min-width: 46.25em) {
    /* line 380, styles.css.scss */
    .js #nav {
      position: relative !important;
      /* important is IE8 fix */
      max-height: none; } }

/* line 392, styles.css.scss */
#nav.opened {
  max-height: 9999px; }

/* ------------------------------------------
  NAVIGATION TOGGLE
--------------------------------------------- */
/* line 399, styles.css.scss */
#nav-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 70px;
  height: 55px;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  background: #f43c12 url("../images/hamburger.gif") no-repeat 50% 33%; }
  @media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    /* line 399, styles.css.scss */
    #nav-toggle {
      background-image: url("../images/hamburger-retina.gif");
      -webkit-background-size: 100px 100px !important;
      -moz-background-size: 100px 100px !important;
      -o-background-size: 100px 100px !important;
      background-size: 100px 100px !important; } }
  @media screen and (min-width: 46.25em) {
    /* line 399, styles.css.scss */
    #nav-toggle {
      display: none; } }

/* ------------------------------------------
  FRONTPAGE INTRO
--------------------------------------------- */
/* line 424, styles.css.scss */
.intro, .footer {
  float: left;
  width: 100%; }

/* line 429, styles.css.scss */
.image {
  width: 100%;
  float: left;
  margin-bottom: 3em; }
  @media screen and (min-width: 62.5em) {
    /* line 429, styles.css.scss */
    .image {
      margin-left: -0.5em;
      *margin-left: 0; } }

/* line 439, styles.css.scss */
.intro {
  margin: 2em auto 3em; }
  @media screen and (min-width: 46.25em) {
    /* line 439, styles.css.scss */
    .intro {
      margin: 4.96em auto 4.1em; }
      /* line 443, styles.css.scss */
      .intro .intro-container {
        _width: 31.5em;
        max-width: 31.5em;
        margin: 2.4em auto; }
      /* line 448, styles.css.scss */
      .intro p {
        margin-left: auto;
        margin-right: auto;
        max-width: 21.25em;
        _width: 21.25em;
        text-align: left;
        float: left; }
      /* line 456, styles.css.scss */
      .intro .btn {
        margin: 0.7em 1.3em 0 0;
        float: right; } }
  @media screen and (min-width: 62.5em) {
    /* line 439, styles.css.scss */
    .intro {
      margin-top: 5.86em; } }

/* ------------------------------------------
  SECTIONS
--------------------------------------------- */
/* line 470, styles.css.scss */
.section {
  max-width: 31.5em;
  margin: 0 auto;
  text-align: left;
  margin-top: 3em;
  *zoom: 1; }
  /* line 48, styles.css.scss */
  .section:before, .section:after {
    content: "";
    display: table; }
  /* line 52, styles.css.scss */
  .section:after {
    clear: both; }
  /* line 476, styles.css.scss */
  .section ul {
    list-style-type: circle;
    font-weight: 600; }
    @media screen and (min-width: 37.5em) {
      /* line 476, styles.css.scss */
      .section ul {
        margin-left: 0; } }
    @media screen and (min-width: 62.5em) {
      /* line 476, styles.css.scss */
      .section ul {
        margin: 1.34em 0 2em;
        line-height: 1.4;
        width: 55%;
        margin-left: -7%;
        float: left; }
        /* line 488, styles.css.scss */
        .section ul li {
          margin-bottom: 1.4em; }
        /* line 491, styles.css.scss */
        .section ul.list-2 {
          float: right;
          margin-left: 0;
          margin-right: -13%; } }

/* line 500, styles.css.scss */
#features {
  margin-top: 0; }
  @media screen and (min-width: 62.5em) {
    /* line 500, styles.css.scss */
    #features {
      padding-bottom: 1.74em;
      margin-bottom: 5.26em;
      border-bottom: 1px solid #d3d2d0; } }

/* ------------------------------------------
  CODE BLOCKS
--------------------------------------------- */
/* line 512, styles.css.scss */
pre, code {
  font-family: "panic sans", Monaco, monospace, monospace; }

/* line 516, styles.css.scss */
pre {
  padding: 2em 2em 1.3em;
  margin-bottom: 3em;
  font-size: 75%;
  color: #433a33;
  background: #fafafa;
  white-space: pre;
  white-space: no-wrap;
  overflow-x: scroll;
  _white-space: normal !important;
  -webkit-box-shadow: 0 1px 4px #f1f0f0, inset 0 0 0 1px #e7e6e5;
  -moz-box-shadow: 0 1px 4px #f1f0f0, inset 0 0 0 1px #e7e6e5;
  box-shadow: 0 1px 4px #f1f0f0, inset 0 0 0 1px #e7e6e5; }
  /* line 530, styles.css.scss */
  pre:hover {
    background: #fdfdfd;
    -webkit-box-shadow: 0 1px 4px #f1f0f0, inset 0 0 0 1px #cecdcb;
    -moz-box-shadow: 0 1px 4px #f1f0f0, inset 0 0 0 1px #cecdcb;
    box-shadow: 0 1px 4px #f1f0f0, inset 0 0 0 1px #cecdcb; }

/* line 539, styles.css.scss */
pre::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: transparent;
  width: 8px;
  height: 8px; }

/* line 546, styles.css.scss */
pre::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #d3d2d0; }

/* ------------------------------------------
  HIGHLIGHTING
--------------------------------------------- */
/* line 554, styles.css.scss */
.com {
  color: #bab9b6; }

/* line 555, styles.css.scss */
.lit {
  color: #bc5639; }

/* line 556, styles.css.scss */
.pun {
  color: #b3a497; }

/* line 557, styles.css.scss */
.opn, .clo, .fun {
  color: #37302a; }

/* line 558, styles.css.scss */
.str, .atv {
  color: #bc5639; }

/* line 559, styles.css.scss */
.typ, .atn, .dec, .var {
  color: #847160; }

/* ------------------------------------------
  DOWNLOAD SECTION
--------------------------------------------- */
/* line 564, styles.css.scss */
#download {
  margin-top: 1em;
  text-align: center; }
  @media screen and (min-width: 46.25em) {
    /* line 564, styles.css.scss */
    #download {
      margin-top: 3em; } }
  /* line 570, styles.css.scss */
  #download span {
    width: 100%;
    display: block;
    margin: 0.2em 0; }
  @media screen and (min-width: 46.25em) {
    /* line 576, styles.css.scss */
    #download span {
      width: auto;
      display: inline;
      margin: 0 0.6em; } }
  /* line 582, styles.css.scss */
  #download .repo {
    background: #847160; }
    /* line 584, styles.css.scss */
    #download .repo:hover {
      background: #66584b; }

/* ------------------------------------------
  FOOTER
--------------------------------------------- */
/* line 593, styles.css.scss */
.footer {
  color: #bab9b6;
  text-align: center;
  font-size: 16px;
  width: 90%;
  margin: 2.8em 5% 0;
  padding-bottom: 2em; }
  /* line 600, styles.css.scss */
  .footer a {
    color: #bab9b6; }
    /* line 602, styles.css.scss */
    .footer a:hover {
      color: #37302a; }
  @media screen and (min-width: 46.25em) {
    /* line 593, styles.css.scss */
    .footer {
      margin-top: 6em;
      margin-bottom: 4em; } }
