#toggle {
  color: white;
  padding: 1em;
  border: 0;
  cursor: pointer;
  background: red;
}

#toggle.active {
  background: green;
}


@media (min-width: 700px) {
  #toggle {
    display: none;
  }
}
